{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Thank you for contacting us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">A member of our team will respond to your message shortly.</p>

  <div class="text-center">
  <form action="/" method="get">
    <button class="btn btn-warning  text-dark cta"
      style="text-decoration: none; color: black; border-color: black;">Home</button>
  </form>
  </div>
</section>

{% endblock %}
