{% extends "base.html" %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
  <h1 style="margin-top: 10px; font-size: 55px;">Menu</h1>
</div>

<div class="container bg-dark text-warning" style="border-radius: 15px 50px 30px;">
  <!-- Starters -->
  <div class="col">
    <h2>Starters</h2>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col text-white">
      <h4>Sticky Ribs</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/4_c1svjl.png" alt="Sticky Ribs">
      <div class="col text-warning">
        <h4>£5.99</h4>
      </div>
    </div>
    <div class="col text-white">
      <h4>Wicked Wings</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/6_mne7wg.png" alt="Wicked Wings">
      <div class="col text-warning">
        <h4>£4.99</h4>
      </div>
    </div>
    <div class="col text-white">
      <h4>Garlic Bread</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/5_jui6bn.png" alt="Garlic Bread">
      <div class="col text-warning">
        <h4>£2.99</h4>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="col">
    <h2>Mains</h2>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col text-white">
      <h4>Succulent Steak</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/2_nzvtaz.png" alt="Succulent Steak">
      <div class="col text-warning">
        <h4>£12.99</h4>
      </div>
    </div>
    <div class="col text-white">
      <h4>Boss Burger</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/1_xwfetp.png" alt="Boss Burger">
      <div class="col text-warning">
        <h4>£10.99</h4>
      </div>
    </div>
    <div class="col text-white">
      <h4>Veggie Burger</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/3_ogeezm.png" alt="Veggie Burger">
      <div class="col text-warning">
        <h4>£9.99</h4>
      </div>
    </div>
  </div>

  <!-- Desserts -->
  <div class="col">
    <h2>Desserts</h2>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col text-white">
      <h4>Cheesecake</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/7_jmhujh.png" alt="Cheesecake">
      <div class="col text-warning">
        <h4>£3.99</h4>
      </div>
    </div>
    <div class="col text-white">
      <h4>Sticky Toffee Pudding</h4><img
        src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/8_ecj8kk.png" alt="Sticky Toffee Pudding">
      <div class="col text-warning">
        <h4>£4.99</h4>
      </div>
    </div>
    <div class="col text-white">
      <h4>Ice Cream</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/9_zh7kgw.png" alt="Ice Cream">
      <div class="col text-warning">
        <h4>£2.99</h4>
      </div>
    </div>
  </div>




</div>


{% endblock %}